<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar color="primary">
    <button mat-icon-button (click)="sideNav.toggle()"><mat-icon>menu</mat-icon></button> My App
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sideNav>
        <mat-nav-list *ngFor="let menu of menus">
            <mat-list-item routerLink="/{{menu.name | lowercase}}">{{menu.name}}</mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>